# EDA (Exploratory Data Analysis)

- Exploratory Data Analysis (EDA) is an approach to analyze the data using visual techniques and statistical techniques. It is used to discover trends, patterns, or to check assumptions with the help of statistical summary and graphical representations.

**Steps involved in EDA**
1. Describing the data
2. Data cleaning
3. Imputation techniques
4. Data analysis and visualization
5. Transformations
6. Auto EDA

**Import data and data description**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = 300
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data_clean.csv', index_col=0)
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [3]:
df.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

In [4]:
df.describe(include=object)

       Month Weather
count    158     155
unique     6       3
top        9       S
freq      34      59

In [5]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Month    158 non-null    object
 4   Day      158 non-null    int64
 5   Year     158 non-null    int64
 6   Temp     158 non-null    int64
 7   Weather  155 non-null    object
dtypes: float64(3), int64(3), object(2)
memory usage: 11.1+ KB

- As we can see that,
- 'Month' column has all the numeric data still python has shown us that it is object.
- We will have to find out the reason and change the data type of the column.

# **Data type conversion**

In [7]:
df['Month']

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: object

In [8]:
df['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [9]:
df['Month'].value_counts()

9      34
5      31
7      31
8      31
6      30
May     1
Name: Month, dtype: int64

In [12]:
df['Month'].replace('May','5',inplace=True)

In [13]:
df['Month'].unique()

array(['5', '6', '7', '8', '9'], dtype=object)

In [14]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [17]:
df['Month'].astype(int)

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: int32

In [18]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [21]:
df['Location'] = 'Pune'
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather Location
1     41.0    190.0   7.4     5    1  2010    67       S     Pune
2     36.0    118.0   8.0     5    2  2010    72       C     Pune
3     12.0    149.0  12.6     5    3  2010    74      PS     Pune
4     18.0    313.0  11.5     5    4  2010    62       S     Pune
5      NaN      NaN  14.3     5    5  2010    56       S     Pune
..     ...      ...   ...   ...  ...   ...   ...     ...      ...
154   41.0    190.0   7.4     5    1  2010    67       C     Pune
155   30.0    193.0   6.9     9   26  2010    70      PS     Pune
156    NaN    145.0  13.2     9   27  2010    77       S     Pune
157   14.0    191.0  14.3     9   28  2010    75       S     Pune
158   18.0    131.0   8.0     9   29  2010    76       C     Pune

[158 rows x 9 columns]

In [22]:
df['Month'] = df['Month'].astype(int)

In [23]:
df.dtypes

Ozone       float64
Solar.R     float64
Wind        float64
Month         int32
Day           int64
Year          int64
Temp          int64
Weather      object
Location     object
dtype: object

In [ ]:
#Another way to converting data types of column is to use pd.to_numeric()

# Duplicates

In [26]:
df

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
1     41.0    190.0   7.4      5    1  2010    67       S
2     36.0    118.0   8.0      5    2  2010    72       C
3     12.0    149.0  12.6      5    3  2010    74      PS
4     18.0    313.0  11.5      5    4  2010    62       S
5      NaN      NaN  14.3      5    5  2010    56       S
..     ...      ...   ...    ...  ...   ...   ...     ...
154   41.0    190.0   7.4      5    1  2010    67       C
155   30.0    193.0   6.9      9   26  2010    70      PS
156    NaN    145.0  13.2      9   27  2010    77       S
157   14.0    191.0  14.3      9   28  2010    75       S
158   18.0    131.0   8.0      9   29  2010    76       C

[158 rows x 8 columns]

In [27]:
df.duplicated()

1      False
2      False
3      False
4      False
5      False
       ...
154    False
155    False
156    False
157     True
158    False
Length: 158, dtype: bool

In [30]:
df.duplicated().sum()

1

In [ ]:
#Print the duplicated values

In [31]:
df[df.duplicated()]

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
157   14.0    191.0  14.3      9   28  2010    75       S

In [32]:
df[(df['Ozone'] == 14.0) & (df['Solar.R'] ==191.0)]

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
151   14.0    191.0  14.3      9   28  2010    75       S
157   14.0    191.0  14.3      9   28  2010    75       S

In [33]:
df.duplicated(keep='last')

1      False
2      False
3      False
4      False
5      False
       ...
154    False
155    False
156    False
157    False
158    False
Length: 158, dtype: bool

In [34]:
df.duplicated(keep = False)

1      False
2      False
3      False
4      False
5      False
       ...
154    False
155    False
156    False
157     True
158    False
Length: 158, dtype: bool

In [35]:
df[df.duplicated(keep=False)]

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
151   14.0    191.0  14.3      9   28  2010    75       S
157   14.0    191.0  14.3      9   28  2010    75       S

In [ ]:
#Drop Duplicated records

In [36]:
df.drop_duplicates(inplace=True)

In [37]:
df.shape

(157, 8)

In [38]:
df.duplicated().sum()

0

# Drop columns

- There is one column which only has single different value.
- We need to get rid of all the uneccesary columns or else it will be very complex data.

In [39]:
df.head()

   Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
1   41.0    190.0   7.4      5    1  2010    67       S
2   36.0    118.0   8.0      5    2  2010    72       C
3   12.0    149.0  12.6      5    3  2010    74      PS
4   18.0    313.0  11.5      5    4  2010    62       S
5    NaN      NaN  14.3      5    5  2010    56       S

In [40]:
df.drop(columns=['Year'], inplace=True)

In [41]:
df

     Ozone  Solar.R  Wind  Month  Day  Temp Weather
1     41.0    190.0   7.4      5    1    67       S
2     36.0    118.0   8.0      5    2    72       C
3     12.0    149.0  12.6      5    3    74      PS
4     18.0    313.0  11.5      5    4    62       S
5      NaN      NaN  14.3      5    5    56       S
..     ...      ...   ...    ...  ...   ...     ...
153   20.0    223.0  11.5      9   30    68       S
154   41.0    190.0   7.4      5    1    67       C
155   30.0    193.0   6.9      9   26    70      PS
156    NaN    145.0  13.2      9   27    77       S
158   18.0    131.0   8.0      9   29    76       C

[157 rows x 7 columns]

In [42]:
df.drop(columns=['Ozone','Wind'])

     Solar.R  Month  Day  Temp Weather
1      190.0      5    1    67       S
2      118.0      5    2    72       C
3      149.0      5    3    74      PS
4      313.0      5    4    62       S
5        NaN      5    5    56       S
..       ...    ...  ...   ...     ...
153    223.0      9   30    68       S
154    190.0      5    1    67       C
155    193.0      9   26    70      PS
156    145.0      9   27    77       S
158    131.0      9   29    76       C

[157 rows x 5 columns]

In [43]:
df

     Ozone  Solar.R  Wind  Month  Day  Temp Weather
1     41.0    190.0   7.4      5    1    67       S
2     36.0    118.0   8.0      5    2    72       C
3     12.0    149.0  12.6      5    3    74      PS
4     18.0    313.0  11.5      5    4    62       S
5      NaN      NaN  14.3      5    5    56       S
..     ...      ...   ...    ...  ...   ...     ...
153   20.0    223.0  11.5      9   30    68       S
154   41.0    190.0   7.4      5    1    67       C
155   30.0    193.0   6.9      9   26    70      PS
156    NaN    145.0  13.2      9   27    77       S
158   18.0    131.0   8.0      9   29    76       C

[157 rows x 7 columns]

In [45]:
df.drop(index = [153,1])

     Ozone  Solar.R  Wind  Month  Day  Temp Weather
2     36.0    118.0   8.0      5    2    72       C
3     12.0    149.0  12.6      5    3    74      PS
4     18.0    313.0  11.5      5    4    62       S
5      NaN      NaN  14.3      5    5    56       S
6     28.0      NaN  14.9      5    6    66       C
..     ...      ...   ...    ...  ...   ...     ...
152   18.0    131.0   8.0      9   29    76      PS
154   41.0    190.0   7.4      5    1    67       C
155   30.0    193.0   6.9      9   26    70      PS
156    NaN    145.0  13.2      9   27    77       S
158   18.0    131.0   8.0      9   29    76       C

[155 rows x 7 columns]

In [46]:
df.head()

   Ozone  Solar.R  Wind  Month  Day  Temp Weather
1   41.0    190.0   7.4      5    1    67       S
2   36.0    118.0   8.0      5    2    72       C
3   12.0    149.0  12.6      5    3    74      PS
4   18.0    313.0  11.5      5    4    62       S
5    NaN      NaN  14.3      5    5    56       S

# Rename the columns

In [47]:
df.head()

   Ozone  Solar.R  Wind  Month  Day  Temp Weather
1   41.0    190.0   7.4      5    1    67       S
2   36.0    118.0   8.0      5    2    72       C
3   12.0    149.0  12.6      5    3    74      PS
4   18.0    313.0  11.5      5    4    62       S
5    NaN      NaN  14.3      5    5    56       S

In [48]:
df.rename(columns={'Solar.R':'Solar','Temp':'Temperature'},inplace=True)

In [49]:
df

     Ozone  Solar  Wind  Month  Day  Temperature Weather
1     41.0  190.0   7.4      5    1           67       S
2     36.0  118.0   8.0      5    2           72       C
3     12.0  149.0  12.6      5    3           74      PS
4     18.0  313.0  11.5      5    4           62       S
5      NaN    NaN  14.3      5    5           56       S
..     ...    ...   ...    ...  ...          ...     ...
153   20.0  223.0  11.5      9   30           68       S
154   41.0  190.0   7.4      5    1           67       C
155   30.0  193.0   6.9      9   26           70      PS
156    NaN  145.0  13.2      9   27           77       S
158   18.0  131.0   8.0      9   29           76       C

[157 rows x 7 columns]

# Missing value imputation

- In dataset, missing data, or missing values, occur when no data value is stored for the variable in an observation.
- Missing data are a common occurrence and can have a significant effect on the conclusions that can be drawn from the data.
- If we don't impute or handle null values, we will not be able to create a machine learning model as python does not understand missing values.
- Handling missing values is a crucial step in EDA.
- Missing values can appear for several reasons like:
    - Incomplete data entry
    - Issues with machines
    - Improper handling of data
    - And many more.

In [ ]:
#Checking null values

In [ ]:
df

In [ ]:
df.isna() #is.null()

In [ ]:
df.isna().sum()

In [ ]:
df.isnull().sum()

In [ ]:
#Visualizing missing values

In [ ]:
sns.heatmap(df.isna())

In [ ]:
df.isna().sum()

In [ ]:
#Calculate the percentage of missig values in each column.
for i in df.isna().sum():
    print((i/len(df))*100)

# Rule for missing value imputation:
1. If NA values are between 1 to 5%, drop na (rows)
2. If NA value are 5 to 40%, fillna(replace)
3. If NA values are greater than 50% in a column, drop that entire column.

In [ ]:
df.head()

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
df.boxplot()

In [ ]:
sns.boxplot(df['Solar'])

In [ ]:
ozone_median = df['Ozone'].median()
ozone_median

In [ ]:
df['Ozone'].fillna(ozone_median, inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df['Solar'].mean()

In [ ]:
df['Solar'].fillna(df['Solar'].mean(), inplace=True)

In [ ]:
df['Weather'].value_counts()

In [ ]:
df['Weather'].mode()

In [ ]:
df['Weather'].mode()[0]

In [ ]:
df['Weather'].fillna(df['Weather'].mode()[0], inplace=True)

In [ ]:
df.isna().sum()

# Outlier detection

- There are multiple approaches to detect outliers in the dataset.
    - Histogram
    - Boxplot
    - Descriptive stats for df

In [ ]:
df.describe()

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
df.boxplot()

In [ ]:
sns.boxplot(df['Ozone'])

In [ ]:
#Outlier detection function

In [ ]:
def outlier_detection(data,colname):
    q1 = data[colname].quantile(0.25)
    q3 = data[colname].quantile(0.75)
    iqr = q3-q1
    
    upper = q3+(1.5*iqr)
    lower = q1-(1.5*iqr)
    
    return lower,upper

In [ ]:
outlier_detection(df,'Ozone')

In [ ]:
df[df['Ozone']>81.0]

In [ ]:
df.loc[df['Ozone'] > 81.0,'Ozone']

In [ ]:
#Capping Outliers

In [ ]:
df.loc[df['Ozone']>81.0,'Ozone'] = 81.0

In [ ]:
sns.boxplot(df['Ozone'])

In [ ]:
outlier_detection(df, 'Wind')

In [ ]:
sns.boxplot(df['Wind'])

In [ ]:
df[df['Wind'] > 17.65]

In [ ]:
df.loc[df['Wind']>17.65,'Wind'] = 17.65

In [ ]:
df.boxplot()

# Scatter Plot and Correlation

In [ ]:
sns.pairplot(df)

In [ ]:
#Correlation coefficient

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.corr(),annot=True, cmap='viridis')

# Transformations

- Machines do not understand words and sentences.
- Machines only understand numbers.
- Before model building, we have convert all the categorical columns into numerical.

In [ ]:
df.head()

In [ ]:
#Encoding using pandas dummy function.

In [ ]:
df = pd.get_dummies(data=df,columns= ['Weather'])

In [ ]:
df

# **Scaling the data**

- Normalization
    - Scales value within the range of 0 to 1.
- Standardization
    - Uses Z score for scaling.
    - Scale values in such a way that the mean = 0 and standard deviation is 1.

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [ ]:
#Standardization
sc = StandardScaler()

In [ ]:
df.head(2)

In [ ]:
df.describe()

In [ ]:
sc.fit_transform(df)

In [ ]:
df.columns

In [ ]:
scaled_data = pd.DataFrame(sc.fit_transform(df), columns=df.columns)
scaled_data

In [ ]:
scaled_data.describe()

In [ ]:
scaled_data.to_csv('Scaled_data.csv')

In [ ]:
#MinMaxScalar

In [ ]:
mn = MinMaxScaler()

In [ ]:
minmax_scaled = pd.DataFrame(mn.fit_transform(df), columns=df.columns)
minmax_scaled

In [ ]:
minmax_scaled.describe()

# Speed up the EDA process

In [ ]:
# !pip install ydata-profiling
# !pip install sweetviz

In [ ]:
#from ydata_profiling import ProfileReport
import pandas_profiling as pp
import sweetviz as sv

In [ ]:
df = pd.read_csv('data_clean.csv', index_col=0)
df.head()

- For a dataset with less elements than a given number (say 5), pandas-profiling assumes that your variable is categorical instead of numerical.

In [ ]:
EDA_report = pp.ProfileReport(df,vars=dict(num={"low_categorical_threshold": 0}))
EDA_report

In [ ]:
report = sv.analyze(df)

In [ ]:
report.show_html('sweetviz.html')